{% extends 'portfolio/layouts/__content_7_5.html' %}
{% block header %}
	{% include "portfolio/webtheme_components/_webtheme_detail_header.html" %}
{% endblock %}
{% block breadcrumb %}
	{% include "portfolio/webtheme_components/_webtheme_breadcrumb_detail.html" %}
{% endblock %}
{% block main_col %}
	{% include "portfolio/webtheme_components/_webtheme_main_detail.html"  %}
{% endblock %}
{% block side_bar %}
	{% include "portfolio/webtheme_components/_webtheme_sidebar_detail.html" %}
{% endblock %}
{% block footer %}
	{% include "portfolio/webtheme_components/_webtheme_detail_footer.html" %}
{% endblock %}