{% extends "testprograms/layouts/__content_with_right_sidebar.html" %}
{% block header %}
	{% include "testprograms/contact/contact_components/_contact_header.html" %}
{% endblock %}
{% block main_col %}
	{% include "testprograms/contact/contact_components/_contact_main.html"  %}
{% endblock %}
{% block sidebar %}
	{% include "testprograms/contact/contact_components/_contact_sidebar.html" %}
{% endblock %}
<!-- {# block footer #}
	{# include "testprograms/contact/contact_components/_contact_footer.html" #}
{# endblock #} -->