{% extends "testprograms/layouts/__content_with_right_sidebar.html" %}
{% block header %}
	{% include "testprograms/entry/entry_list_components/_entry_header_list.html" %}
{% endblock %}
<!-- {# block dashboard #}
	{# include "testprograms/entry/entry_list_components/_entry_dashboard_list.html" #}
{# endblock #} -->
{% block main_col %}
	{% include "testprograms/entry/entry_list_components/_entry_main_list.html"  %}
{% endblock %}
{% block side_bar %}
	{% include "testprograms/entry/entry_list_components/_entry_side_bar_list.html" %}
{% endblock %}
<!-- {# block footer #}
	{# include "testprograms/entry/entry_list_components/_entry_footer_list.html" #}
{# endblock #} -->