{% extends 'testprograms/layouts/__content_with_right_sidebar.html' %}
{% block header %}
	{% include 'testprograms/hardware/hardware_list_components/_hardware_list_header.html' %}
{% endblock %}
{% block main_col %}
	{% include 'testprograms/hardware/hardware_list_components/_hardware_list_main.html' %}
{% endblock %}
{% block side_bar %}
	{% include 'testprograms/hardware/hardware_list_components/_hardware_list_sidebar.html' %}
{% endblock %}
<!-- {# block footer #}
	{# include 'testprograms/hardware/hardware_list_components/_hardware_list_footer.html' #}
{# endblock #} -->