{% extends "testprograms/layouts/__content_hybrid.html" %}
{% block header %}
	{% include "testprograms/index/index_list_components/_index_header_list.html" %}
{% endblock %}
<!-- {# block dashboard #}
	{# include "testprograms/index/index_list_components/_index_dashboard_list.html" #}
{# endblock #} -->
{% block main_col %}
	{% include "testprograms/index/index_list_components/_index_main_list.html"  %}
{% endblock %}
<!-- {# block side_bar #}
	{% include "testprograms/index/index_list_components/_index_side_bar_list.html" %}
{# endblock #} -->
<!-- {# block footer #}
	{# include "testprograms/index/index_list_components/_index_footer_list.html" #}
{# endblock #} -->