{% extends "testprograms/layouts/__content_with_right_sidebar.html" %}
{% block header %}
	{% include 'testprograms/programming/programming_detail_components/_programming_header_detail.html' %}
{% endblock %}
{% block main_col %}
	{% include 'testprograms/programming/programming_detail_components/_programming_main_detail.html' %}
{% endblock %}
{% block side_bar %}
	{% include 'testprograms/programming/programming_detail_components/_programming_sidebar_detail.html' %}
{% endblock %}
<!-- {# block footer #}
	{# include 'testprograms/programming/programming_detail_components/_programming_footer_detail.html' #}
{# endblock #} -->