{% extends 'testprograms/layouts/__content_7_5.html' %}
{% block header %}
	{% include 'testprograms/interwebs/webtheme_detail_components/_interwebs_header_detail.html' %}
{% endblock %}
{% block main_col %}
	{% include 'testprograms/interwebs/webtheme_detail_components/_interwebs_main_detail.html' %}
{% endblock %}
{% block side_bar %}
	{% include 'testprograms/interwebs/webtheme_detail_components/_interwebs_sidebar_detail.html' %}
{% endblock %}
<!-- {# block footer #}
	{# include 'testprograms/interwebs/webtheme_detail_components/_interwebs_footer_detail.html' #}
{# endblock #} -->