{% extends 'portfolio/layouts/__content_with_right_sidebar.html' %}
{% block header %}
	{% include 'portfolio/programming_components/_programming_header_list.html' %}
{% endblock %}
{% block main_col %}
	{% include 'portfolio/programming_components/_programming_main_list.html' %}
{% endblock %}
{% block side_bar %}
	{% include 'portfolio/programming_components/_programming_sidebar_list.html' %}
{% endblock %}
{% block footer %}
	{% include 'portfolio/programming_components/_programming_footer_list.html' %}
{% endblock %}